@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import url('http://fonts.cdnfonts.com/css/space-and-astronomy');
@import url('http://fonts.cdnfonts.com/css/planet-n');
@import url('http://fonts.cdnfonts.com/css/insta-story');
@import url('http://fonts.cdnfonts.com/css/insta-story-signature');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');

/*Reseteo*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Estilo body*/

body {
    background-color: whitesmoke;

}


/*Maquetado Header*/

header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "contenedor-hero"
        "menu-principal";
    justify-content: center;

}


/*Maquetado Footer*/

footer {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "container-footer redes-sociales"
        "container-footer redes-sociales"
        "container-footer redes-sociales";
    width: 100%;

}


/*Estilos banner Bienvenida*/

h1 {
    text-align: center;
    color: white;
    font-family: 'Space and Astronomy', sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    word-spacing: 10px;
    line-height: 2.7rem;
    letter-spacing: 4px;
    padding: 0.9rem;
    margin-top: 1.2rem;

}


h1 span {
    position: absolute;
    right: 0;
    width: 0;
    height: 9 0%;
    background-color: whitesmoke;
    border-left: 1px solid #000;
    animation: maquinita 6s alternate;

}


.contenedor-hero {
    display: flex;
    height: 14rem;
    position: relative;
    background-image: url(../img.html/space-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    filter: brightness(1.1);
    
}


.hero {
    margin: 0 auto;
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: center;

}


.box {
    flex-basis: 100%;
    align-self: center;

}


.contenedor-hero .hero p.propuesta {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 2.8rem;
    text-shadow: #000 2px 2px 2px;  
    text-transform: uppercase;
    color: #bf930d;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    letter-spacing: 1.5px;
    word-spacing: 5px;
    padding-bottom: 2rem;
    line-height: 1.7rem;

}

span .bajada {
text-shadow: #000 2px 2px 2px;    
 
}

/*Estilos Barra de Navegador boostrap*/

.nav-background {
    background: #046377;
    height: 12rem;
    margin-top: 0;
    padding-top: 10px;


}


.nav-titulos {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    margin-right: 6rem;

}


.navbar ul li a {
    text-decoration: none;
    color: white !important
}


nav ul li a:hover {
    background: transparent;
    font-size: 1.3rem;
    font-weight: bold;

}


.nav-color {
    color: transparent;

}


.navbar-expand-md .navbar-nav .dropdown-menu {
    position: absolute;
    background-color: hsl(190, 93%, 24%);
    border-radius: 4.5px;
    height: 3.5rem;

}


.dropdown-menu li a:hover {
    background: #046377;

}


.dropdown-color {
    background: transparent;
    min-width: auto;
    font-family: 'Roboto', sans-serif;
    font-size: smaller;

}


/*Estilos Sub-titulo*/

.contenedor-subtitulo {
    grid-area: contenedor-subtitulo;
    margin: auto;

}


h2 {
    position: relative;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 2px;
    word-spacing: 0.5rem;
    background-color: whitesmoke;
    padding: 1rem;
    margin-top: .8rem;
    line-height: 2rem;

}


/*Estilos Suscripcion a Newsletter*/

.suscripcion {
    height: 9rem;
    background: rgb(2, 0, 36);
    background: rgb(2, 0, 36);
    background: linear-gradient(106deg, rgba(2, 0, 36, 1) 0%, rgba(13, 13, 64, 1) 31%, rgba(9, 68, 116, 1) 47%, rgba(4, 99, 119, 1) 100%);
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    flex-direction: column;
    grid-template-areas: "newsletter boton-uno";
    justify-content: space-around;
    align-items: center;
    row-gap: 0.3rem;

}


.newsletter {
    grid-area: newsletter;
    line-height: 1rem;
    font-family: 'Roboto', sans-serif;
    font-size: 0.75rem;
    text-align: center;
    color: white;
    padding: 15px 13px;

}


.boton-uno {
    grid-area: boton-uno;
    margin-top: 7px;
    margin-bottom: 7px;
    text-align: center;
    overflow: auto;
    width: fit-content;
    height: max-content;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 11px;
    text-transform: uppercase;
    background-color: #FFFF00;
    opacity: 0.8;
    padding: 0.6rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;

}


.boton-uno :hover {
    color: white;

}


/*Estilos Footer*/

footer {
    background-color: #3c4e5f;
    align-self: center;
    justify-self: center;

}


.container-footer {
    grid-area: container-footer;
    flex-wrap: wrap;
    height: auto;
    margin: auto;

}


.footer {
    display: flex;
    color: whitesmoke;
    justify-content: left;
    font-size: 0.8rem;
    letter-spacing: 1.5px;
    padding: 0.9rem 3rem;

}


.redes-sociales {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1.5px;
    margin-bottom: 0.8rem;

}


.titulo-redes-sociales {
    font-size: 0.7rem;
    text-align: center;
    color: whitesmoke;

}


.instagram-icon {
    color: white;
    width: 2.4rem;
    cursor: pointer;
    float: left;
    padding: 0;
    margin: 0;
    margin-top: -1rem;
    margin-bottom: 0px;

}


.facebook-icon {
    color: white;
    margin-bottom: 3px;
    width: 1.8rem;
    cursor: pointer;
    float: left;
    padding: 0;
    margin: 0;

}


/*Estilo footer boostrap*/

.footer-background {
    background-color: #3c4e5f;
    align-self: center;
    justify-self: center;
    width: 100%;

}

footer.bp {
    color: white !important
}


/*Estilos Sections*/

h3 {
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    font-size: 1.4rem;
    word-spacing: 0.4rem;
    letter-spacing: 0.2rem;
    color: black;
    line-height: 2rem;
    padding: 1rem;

}


/*Estilos Section Sobre Mi*/

.contenedor-sobremi {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "parrafo-uno";
    justify-content: center;
    align-items: center;
    padding: 1.3rem;
    margin: 2rem;
    border-radius: 1rem;

}


.foto-perfil {
    display: none;

}


.parrafo-uno .parrafos-identados {
    grid-area: parrafo-uno;
    color: #1d1e20;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    text-align: justify;
    font-size: 0.9rem;
    line-height: 1.5rem;
    padding: 0.5rem;

}


.parrafos-identados {
    background-color: white;
    color: #1d1e20;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    font-size: 0.9rem;
    line-height: 1.5rem;
    padding: 0.5rem;

}


/*Estilos Section Artículo, en el parrafo de articulo puse select none para que no se pueda copiar el contenido*/

.jupiter {
    display: none;

}


.neptuno {
    display: none;

}


.contenedor-articulo {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "parrafo-dos";
    justify-content: center;
    align-items: center;
    padding: 1.3rem;
    margin: 2.5rem;
    border-radius: 1rem;

}


.parrafo-dos .parrafos-identados {
    grid-area: parrafo-dos;
    color: #1d1e20;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    line-height: 1.3rem;
    justify-content: center;
    text-align: justify;
    padding: 0.5rem;
    user-select: none;

}


.parrafo-cazadora-de-astros .parrafos-identados {
    grid-area: parrafo-dos;
    color: #1d1e20;
    font-weight: 1.4rem;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    line-height: 1.3rem;
    text-align: justify;
    text-justify: distribute-all-lines;
    justify-content: center;
    overflow: scroll;
    padding: 0.5rem;
    margin: 2.5rem;

}


/*Estilos Section Remedios Varo*/

.contenedor-la-cazadora-de-astros {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "parrafo-uno";
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    padding: 1.3rem;
    margin: 2rem;

}


.foto-cazadora {
    display: none;

}


.parrafo-cazadora-de-astros .parrafos-identados {
    grid-area: parrafo-uno;
    color: #1d1e20;
    justify-content: center;
    font-weight: 1.4rem;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    line-height: 1.3rem;
    text-align: justify;
    text-justify: distribute-all-lines;
    padding: 0.5rem;
    overflow: scroll;
    margin: 2.5rem;

}


.remedios-varo .parrafos-identados {
    grid-area: parrafo-uno;
    color: #1d1e20;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    line-height: 1.3rem;
    text-align: justify;
    padding: 0.5rem;
    overflow: scroll;

}


/*Estilos Section Blog*/

section.contenedor-blog {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "parrafo-dos";
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    margin: 2rem;
    border-radius: 1rem;
    height: 100 vh;

}


.parrafo-blog .parrafos-identados {
    grid-area: parrafo-dos;
    color: #1d1e20;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    line-height: 1.3rem;
    justify-content: center;
    text-align: justify;
    padding: 0.5rem;
    user-select: none;

}


/*Estilos Section Calculo Carta Natal*/

.contenedor-calculo-carta {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-areas: "pasos-calculo-carta";
    justify-content: center;

}


.pasos-calculo-carta {
    grid-area: pasos-calculo-carta;
    display: flex;
    justify-content: center;
    max-width: 18.5rem;
    max-height: 27rem;
    list-style-position: inside;
    color: white;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    line-height: 2rem;
    padding: 3rem;
    border-radius: 1rem;
    background-image: url(../img.html/Estrellas\ via\ lactea.jpg);
    background-repeat: no-repeat;
    opacity: 0.8;
    
}


.contenedor-video {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "video-astro";
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 1.5rem;

}


.video-astro {
    grid-area: video-astro;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    margin-left: 12rem;

}


/*Estilos Boostrap Section Contacto*/

.form-estilo {
    background-image: url(../img.html/Estrellas\ via\ lactea.jpg);
    background-repeat: no-repeat;
    opacity: 0.8;
    max-height: 32rem;
    max-width: 30rem;
    border-radius: 15px;
    margin-bottom: 2.2rem;
    margin-top: 2rem;

}


/*Responsive dispositivo 480px ps*/

@media screen and (min-width: 480px) 
{
    .nav-background {
        height: 10rem;        
          
    }

    h1 {
        line-height: 3rem;
        padding: 1rem;
        margin-top: 0%;

    }

    .suscripcion {
        height: 4.5rem;
    }

    .boton-uno {
        padding: 10px;
        max-width: max-content;

    }

    .contenedor-hero .hero p.propuesta {
        line-height: 1rem;
        padding-bottom: 1rem;
    }

    .pasos-calculo-carta {
        max-height: 20rem;
        max-width: 30rem;
    }

    .video-astro {
        width: 100%;
        margin-left: 0;

    }

    section.contenedor-conjuncion {
        padding: 3rem;
        height: min-content;

    }

    .box-conjuncion {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "jupiter neptuno"
            "jupiter neptuno";

    }

    
    .planeta-jupiter {
        display: flex;
        grid-area: jupiter;
        justify-content: right;
        animation: conjuncion 5s alternate;
        animation-iteration-count: 8;

    }

   

    .jupiter {
        display: block;
        width: 70%;

    }

    .neptuno {
        display: block;
        width: 85%;

    }

    @keyframes conjuncion {
        0% {
            transform: translate(0);
        }

        100% {
            transform: translate(100px);
        }

    }

}

/*Responsive dispositivo Tablet 768px para tabletas de 10 pulgadas*/

@media screen and (min-width: 768px) 
{

    .nav-background {
        height: 8rem;
          
    }

    h1 {
        font-size: 2.2rem;
        letter-spacing: 6px;
        line-height: 3rem;

    }

    h2 {
        font-size: 1.6rem;
        padding: 0.8rem;

    }

    .contenedor-hero .hero span {
        font-size: 2rem;
        padding: 1.3rem;

    }

    h3 {
        line-height: 2rem;
        margin-top: 1rem;
        padding: 1.2rem;

    }

    .contenedor-sobremi {
        display: grid;
        grid-template-columns: 1fr 2.2fr;
        grid-template-rows: 1fr;
        grid-template-areas: "foto-perfil parrafo-uno";
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 3px;

    }

    .foto-perfil {
        grid-area: foto-perfil;
        display: flex;
        justify-items: center;
        align-items: center;
        align-self: center;
        width: 60%;
        height: auto;
        position: relative;
        top: 50%;
        left: 20%;
        border-radius: 50%;

    }

    .contenedor-la-cazadora-de-astros {
        grid-template-columns: 1fr 2.2fr;
        grid-template-rows: 1fr;
        grid-template-areas: "foto-cazadora parrafo-cazadora-de-astros";
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 3px;

    }

    .foto-cazadora {
        grid-area: foto-cazadora;
        display: flex;
        justify-items: center;
        align-items: center;
        align-self: center;
        width: 50%;
        height: auto;
        position: relative;
        left: 23%;

    }

    .jupiter {
        width: 50%;

    }

    .neptuno {
        width: 72%;

    }
}


/*Responsive dispositivo Desktop 1200px para pantallas panoramicas*/

@media screen and (min-width: 1200px) {
    h1 {
        font-size: 2.8rem;
        line-height: 6rem;
        word-spacing: 7px;
        letter-spacing: 8px;
        padding: 5px;

    }

    h2 {
        font-size: 1.9rem;

    }

    .contenedor-hero {
        height: 15rem;

    }

    .contenedor-hero .hero span {
        font-size: 2rem;
        line-height: 1rem;

    }

    .contenedor-hero .hero p.propuesta {
        font-size: 1.2rem;
        letter-spacing: 4px;

    }

    h3 {
        font-size: 1.6rem;
        padding: 1.5rem;

    }

    .menu-principal {
        line-height: 2.5rem;
        word-spacing: 1.2rem;
        padding: 8px;

    }

    nav ul li a {
        font-size: 1.4rem;

    }

    .contenedor-sobremi {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "foto_perfil"
            "parrafo-uno";
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-content: center;

    }

    .foto-perfil {
        display: block;
        grid-area: foto-perfil;
        width: 34%;
        align-self: center;
        justify-self: center;
        margin-left: 5.5rem;

    }

    .parrafo-uno {
        font-size: 1rem;
        line-height: 1.4rem;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
        overflow: hidden;

    }

    .parrafo-uno::first-letter {
        font-size: 1.55rem;

    }

    .parrafo-dos {
        font-size: 1rem;
        line-height: 1.4rem;
        margin-left: 1rem;
        margin-right: 1rem;

    }

    .parrafo-dos::first-letter {
        font-size: 1.55rem;

    }

    .newsletter {
        font-size: 0.9rem;
        text-align: center;
        line-height: 1.2rem;
        padding: 15px 0px;

    }

    .footer {
        justify-content: end;

    }

    .boton-uno {
        position: relative;
        font-size: 13px;
        text-align: center;
        margin-top: 0.3rem;
        padding: 0.6rem;

    }

    .contenedor-la-cazadora-de-astros {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "foto_cazadora"
            "parrafo-cazadora-de-astros";
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-content: center;

    }

    .foto-cazadora {
        grid-area: foto-cazadora;
        display: block;
        width: 54%;
        align-self: center;
        justify-self: center;

    }

    .remedios-varo {
        grid-area: parrafo-cazadora-de-astros;
        font-size: 1rem;
        line-height: 1.4rem;
        margin-right: 1.1rem;
        margin-left: 1.1rem;
        margin-bottom: 1rem;
        overflow: hidden;

    }

    .remedios-varo::first-letter {
        font-size: 1.55rem;

    }

    .pasos-calculo-carta {
        font-size: 17px;

    }

    .contenedor-blog {
        overflow: hidden;

    }

    .jupiter {
        width: 55%;

    }

    .neptuno {
        width: 75%;

    }

}


/*Responsive dispositivo Desktop 1350px*/

@media screen and (min-width: 1350px) {

    .box-conjuncion {
        justify-items: left;
    }

    .jupiter {
        width: 52%;

    }

    .neptuno {
        width: 70%;

    }

}


/*Responsive dispositivo Desktop 1450px*/

@media screen and (min-width: 1450px) {

    .jupiter {
        width: 55%;

    }

    .neptuno {
        width: 70%;

    }

}

/*Responsive dispositivo Desktop 1500px*/

@media screen and (min-width: 1500px) {
    .jupiter {
        width: 52%;
        margin-left: 3rem;

    }

}


/*Responsive dispositivo Desktop 1600px*/

@media screen and (min-width: 1600px) {
    .jupiter {
        width: 53%;
        margin-left: 6rem;
    }

}