.form-estilo {
    background-image: url(https://images.pexels.com/photos/207529/pexels-photo-207529.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    opacity: 1;
    max-height: 32rem;
    max-width: 30rem;
    border-radius: 15px;
    margin-bottom: 3rem;
    margin-top: 3rem;

    h4 {}

    .form-control {}

}