.contenedor-hero {
    display: flex;
    height: 14rem;
    position: relative;
    background-image: url(../img.html/space-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    filter: brightness(1.1);

    .hero {
        margin: 0 auto;
        height: 100%;
        display: flex;
        text-align: center;
        justify-content: center;

        .box {
            flex-basis: 100%;
            align-self: center;

            .propuesta {
                font-family: $font-principal;
                font-weight: bolder;
                font-size: 2.8rem;
                text-shadow: #000 2px 2px 2px;
                text-transform: uppercase;
                color: #bf930d;
                text-align: center;
                font-family: $font-principal;
                font-size: 1.1rem;
                letter-spacing: 1.5px;
                word-spacing: 5px;
                padding-bottom: 2rem;
                line-height: 1.7rem;

                span .bajada {
                    text-shadow: #000 2px 2px 2px;
                }
            }
        }
    }
}


