.nav-background {
    background-color: #3c4e5f;
    margin-top: 0;
    padding-top: 2rem;
    padding-bottom: 1.8rem;

    .container-fluid {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
        height: max-content;

    }

    .icon-color {
        color: white;
    }

    .nav-titulos {
        font-family: $font-principal;
        font-size: 1.2rem;
        margin-right: 1rem;

    }


    ul li a {
        text-decoration: none;
        color: white !important;


        &:hover {
            background-color: #3c4e5f;
            font-size: 1.3rem;
            font-weight: bold;

            }
        }


    }
